Pandas basics 

Pandas is a Python library for working with DataFrames
Use pandas attributes and methods to examine the strucutre of the data and to subset
A Part 2 of this example will demonstrate how to reshape data
Download CSV from https://data.seattle.gov/Finance/Expenditures-dollars/frxe-s3us

In [7]:
# import the needed library 
import pandas as pd

# load the CSV (comma-separated values) file and assign it to a dataframe
df = pd.read_csv('datasets\Expenditures-dollars.csv')

In [33]:
df.axes

[RangeIndex(start=0, stop=480, step=1),
 Index(['Department', 'BCL', 'Program', '2012 Actual', '2013 Adopted',
        '2014 Endorsed', '2014 Proposed'],
       dtype='object')]

In [9]:
df.columns

Index(['Department', 'BCL', 'Program', '2012 Actual', '2013 Adopted',
       '2014 Endorsed', '2014 Proposed'],
      dtype='object')

In [10]:
df.dtypes

Department        object
BCL               object
Program           object
2012 Actual      float64
2013 Adopted     float64
2014 Endorsed    float64
2014 Proposed    float64
dtype: object

In [11]:
df.index

RangeIndex(start=0, stop=480, step=1)

In [12]:
df.shape

(480, 7)

In [13]:
df.size

3360

In [14]:
df.values

array([['12LIBLEVY', 'Library Levy Operating Transfer',
        'Library Levy Operating Transfer', ..., 13049781.0, 12658704.0,
        12658704.0],
       ['ARTS', 'Arts Account', 'Administrative Services', ..., 400683.0,
        411913.0, 587579.0],
       ['ARTS', 'Arts Account', 'Community Development and Outreach',
        ..., 518398.0, 534369.0, 524770.0],
       ...,
       ['SZF', 'Camera Operations, Administration, and Enforcement',
        'Camera Operations, Administration, and Enforcement', ..., nan,
        nan, 1530586.0],
       ['SZF',
        'School Safety Education and Outreach, Infrastructure Maintenance, and Capital Improvements',
        'Capital Improvements', ..., nan, nan, 6599000.0],
       [nan, nan, 'Non-Capital Operations and Maintenance', ..., nan,
        nan, 489500.0]], dtype=object)

In [15]:
df.describe()

        2012 Actual  2013 Adopted  2014 Endorsed  2014 Proposed
count  4.010000e+02  4.130000e+02   4.080000e+02   4.440000e+02
mean   9.842866e+06  1.046972e+07   1.127790e+07   1.057507e+07
std    2.620948e+07  2.719640e+07   2.903089e+07   2.787323e+07
min   -2.777152e+07 -2.884116e+07  -2.968772e+07  -3.079840e+07
25%    7.466740e+05  8.038870e+05   8.329322e+05   7.287082e+05
50%    2.731433e+06  2.813285e+06   2.928010e+06   2.763830e+06
75%    8.346157e+06  8.612388e+06   8.985873e+06   8.458372e+06
max    2.874715e+08  2.831832e+08   2.870569e+08   2.877135e+08

In [16]:
df.head()

,Department,BCL,Program,2012 Actual,2013 Adopted,2014 Endorsed,2014 Proposed
0,12LIBLEVY,Library Levy Operating Transfer,Library Levy Operating Transfer,NaN,13049781.0,12658704.0,12658704.0
1,ARTS,Arts Account,Administrative Services,409133.0,400683.0,411913.0,587579.0
2,ARTS,Arts Account,Community Development and Outreach,1721308.0,518398.0,534369.0,524770.0
3,ARTS,Arts Account,Cultural Partnerships,2502448.0,3030729.0,3005137.0,3440764.0
4,ARTS,Arts Account,Langston Hughes Performing Arts Institute,NaN,745698.0,778669.0,809180.0

In [17]:
df.tail()

,Department,BCL,Program,2012 Actual,2013 Adopted,2014 Endorsed,2014 Proposed
475,SPU,Watershed Stewardship,Watershed Stewardship,1169111.0,3000.0,1999.0,227000.0
476,STCAR,Streetcar Operations,Streetcar Operations,670732.0,730935.0,5736749.0,5736611.0
477,SZF,"Camera Operations, Administration, and Enforce...","Camera Operations, Administration, and Enforce...",NaN,NaN,NaN,1530586.0
478,SZF,"School Safety Education and Outreach, Infrastr...",Capital Improvements,NaN,NaN,NaN,6599000.0
479,NaN,NaN,Non-Capital Operations and Maintenance,NaN,NaN,NaN,489500.0

In [18]:
df.min()

Program          1998B Capital Facilities Refunding
2012 Actual                            -2.77715e+07
2013 Adopted                           -2.88412e+07
2014 Endorsed                          -2.96877e+07
2014 Proposed                          -3.07984e+07
dtype: object

In [19]:
df.max()

Program          Youth Violence Prevention
2012 Actual                    2.87471e+08
2013 Adopted                   2.83183e+08
2014 Endorsed                  2.87057e+08
2014 Proposed                  2.87713e+08
dtype: object

In [20]:
df.mean()

2012 Actual      9.842866e+06
2013 Adopted     1.046972e+07
2014 Endorsed    1.127790e+07
2014 Proposed    1.057507e+07
dtype: float64

In [21]:
df.median()

2012 Actual      2731433.0
2013 Adopted     2813285.0
2014 Endorsed    2928010.5
2014 Proposed    2763830.5
dtype: float64

In [22]:
df.sample()

,Department,BCL,Program,2012 Actual,2013 Adopted,2014 Endorsed,2014 Proposed
292,OED,Office of Economic Development,Business Services,5389440.0,4880399.0,4837218.0,5898752.0

In [23]:
df.sample(10)

,Department,BCL,Program,2012 Actual,2013 Adopted,2014 Endorsed,2014 Proposed
440,SPL,Administrative Services,Safety and Security Services,1089538.0,1379856.0,1427904.0,1390102.0
449,SPL,Library Programs and Services,Program and Services - Systemwide Services,NaN,NaN,NaN,4841025.0
318,PIKELEVY,Pike Place Market Renovation,Levy Proceeds,6126746.0,NaN,NaN,NaN
355,SDOT,General Expense,Indirect Cost Recovery - General Expense,-11657437.0,-11753733.0,-12373596.0,-13098088.0
388,SFD,Administration,Communications,6177189.0,NaN,NaN,NaN
325,SCL,Compliance and Security,Compliance and Security,2891938.0,3163331.0,3442861.0,3414126.0
27,CIV,Civil Service Commissions,Civil Service Commissions,323212.0,373371.0,385887.0,379974.0
417,SPD,Chief of Police,Chief of Police,15602723.0,3537526.0,3628345.0,4963126.0
192,FG,Reserves,Interbay Housing Project,NaN,NaN,NaN,150000.0
260,HSD,Public Health Services,Asthma,128697.0,131271.0,134290.0,134290.0

In [24]:
df.std()

2012 Actual      2.620948e+07
2013 Adopted     2.719640e+07
2014 Endorsed    2.903089e+07
2014 Proposed    2.787323e+07
dtype: float64

In [34]:
#subset data
df[["Program", "2012 Actual"]].head()

                                     Program  2012 Actual
0            Library Levy Operating Transfer          NaN
1                    Administrative Services     409133.0
2         Community Development and Outreach    1721308.0
3                      Cultural Partnerships    2502448.0
4  Langston Hughes Performing Arts Institute          NaN

In [35]:
# get rows a to n-1
df[0:10]

,Department,BCL,Program,2012 Actual,2013 Adopted,2014 Endorsed,2014 Proposed
0,12LIBLEVY,Library Levy Operating Transfer,Library Levy Operating Transfer,NaN,13049781.0,12658704.0,12658704.0
1,ARTS,Arts Account,Administrative Services,409133.0,400683.0,411913.0,587579.0
2,ARTS,Arts Account,Community Development and Outreach,1721308.0,518398.0,534369.0,524770.0
3,ARTS,Arts Account,Cultural Partnerships,2502448.0,3030729.0,3005137.0,3440764.0
4,ARTS,Arts Account,Langston Hughes Performing Arts Institute,NaN,745698.0,778669.0,809180.0
5,ARTS,Municipal Arts Fund,Municipal Arts Fund,2798353.0,2449820.0,2513673.0,2991764.0
6,AUD,Office of City Auditor,Office of City Auditor,1148312.0,1913014.0,1461132.0,1402670.0
7,CBLFEE,Cable Fee Support to Information Technology Fund,Cable Communications,723252.0,745244.0,766477.0,776904.0
8,CBLFEE,Cable Fee Support to Information Technology Fund,Community Technology,1317216.0,1333350.0,1367133.0,1431718.0
9,CBLFEE,Cable Fee Support to Information Technology Fund,Finance and Administration,299688.0,373754.0,386050.0,0.0

In [31]:
# get rows 
df.loc[0:10, ["Program", "2013 Adopted"]]

                                      Program  2013 Adopted
0             Library Levy Operating Transfer    13049781.0
1                     Administrative Services      400683.0
2          Community Development and Outreach      518398.0
3                       Cultural Partnerships     3030729.0
4   Langston Hughes Performing Arts Institute      745698.0
5                         Municipal Arts Fund     2449820.0
6                      Office of City Auditor     1913014.0
7                        Cable Communications      745244.0
8                        Community Technology     1333350.0
9                  Finance and Administration      373754.0
10           Seattle Channel/Democracy Portal     3149911.0